/* General Styles */
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Box containing the bike image */
#box {
    position: relative;
    height: 450px;
    -webkit-mask-image: url(output-onlinepngtools.png);
    mask-image: url(output-onlinepngtools.png);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}

/* Bike image styles */
#bikeimg {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("WhatsApp Image 2024-02-08 at 09.26.57_92d8b37e.jpg");
    background-size: 200px;
    z-index: -1;
    width: 95%;
    transition: transform 0.2s;
}

/* Mapper div styles */
#mapper {
    height: 400px;
    width: 100%;
    transition: transform 0.2s;
    z-index: 1;
}

/* Title styles */
#FindYoBike {
    padding-left: 35%;
    padding-top: 20%;
    font-family: 'Courier New', Courier, monospace;
}

/* Input bar styles */
#inputbar {
    width: 37%;
    margin-left: 35%;
    border-radius: .5rem;
    box-shadow: 10px;
}

/* Slider container */
.slidecontainer {
    width: 100%; /* Full-width */
}

/* Slider styles */
.slider {
    -webkit-appearance: none; /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    transition: opacity .2s; /* 0.2 seconds transition on hover */
}

.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #000000; /* Green background */
    cursor: pointer; /* Cursor on hover */
}
#DEMO_MAP_ID{
    height:100%;
}
.autovid {
    width: 100%;
    position: absolute;
    z-index: -1;
}
#trailer {
    width: 100%;
    -webkit-mask-image: linear-gradient(black, transparent);
    mask-image: linear-gradient(black, transparent);
}
/* Base for the switch */
.theme-switch-wrapper {
    display: flex;
    align-items: center;
}

.theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
}

/* Style for the slider */
.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
}

input:checked + .slider {
    background-color: #000000;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* Light and Dark theme colors */
body {
    transition: background-color 0.3s linear;
}

body.light-mode {
    --background-color: #ffffff;
    --text-color: #000000;
}

body.dark-mode {
    --background-color: #333333;
    --text-color: #ffffff;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}
#wolfimage{
    width:100%;
}