#box{
    position: sticky;
    
    height:450px;
    
    
}
#bikeimg{
    position: absolute;
    top:0;
    left:0;
    background-color: blue;
    z-index:-1;
    width: 100%;
    transition: transform 0.2s;
}
#FindYoBike{
    padding-left:35%;
    padding-top: 20%;
    font-family: 'Courier New', Courier, monospace;
}
#inputbar{
    width: 37%;
    margin-left:35%;
    border-radius: .5rem;
    box-shadow: 10px;
}
#MAPPING{
    width: 100%;
    z-index: 1;
}
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  /* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #000000; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  