html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#mapbox {
    position: relative; 
    height: 100%;
    background-color: #f5f5f5; 
    -webkit-mask-image: linear-gradient(to bottom, transparent 25%, black 75%);
    mask-image: linear-gradient(to bottom, transparent 25%, black 75%);
}

#map {
    height: 100%; 
    width: 100%; 
}

#sidebar {
    position: absolute; 
    top: 0;
    left: 0; 
    width: 300px; 
    height: 100%; 
    overflow-y: auto; 
    background-color: rgba(255, 255, 255, 0.295); 
    padding: 20px;

    display: none; 
    z-index: 5;
}
.controls {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 10;
    box-sizing: border-box;
    box-shadow: 0 2px 6px rgba(0,0,0,.3);
    border: 1px solid transparent;
    width: 400px;
    padding: 0 12px;
    margin-top: 10px;
    margin-left: 20px;
    font-size: 14px;
    line-height: 40px;
    height: 40px;
    outline: none;
    text-overflow: ellipses;
    border-radius: 5px;
}

.controls:focus {
    border-color: #defe4d;
}


@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.station-info {
    font-family: "Roboto", sans-serif;
    width :100%;
    
    background-image: linear-gradient(to bottom, rgb(125, 230, 230) 50%, transparent 50%);
    background-size: 100% 200%; 
    background-repeat: no-repeat;
    background-position: 0 100%;
    transition: background-position .5s ease-in-out, background-size .5s ease-in-out;
    display: inline-block;
    padding-bottom: 10px; 
    margin-bottom: 40px; 
    padding-left: 10px; 
    padding-top:10px;
    background-color: rgb(255, 255, 255); 
    border-radius: 5px;
  }
  .station-name {
    padding-bottom: 10px; 
    margin-bottom: 10px; 
  }

  .station-info:hover {
    background-size: 100% 100%;
    background-position: 0 0; 
  }
.available-bikes {
    margin-top: 5px;
}
.sidebarInfoWindow{
    display: none;
}
#landingDiv{
    background-color: black;
    height: 2000px;
    -webkit-mask-image: linear-gradient(to top, transparent 25%, black 75%);
    mask-image: linear-gradient(to top, transparent 25%, black 75%);
}
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
#bikeimg{
    top: 0;
    width: 100%;
    animation: fadeIn 2s ease-in-out;
    position: sticky;


}
#outerDiv{
    height: 2000px;
    -webkit-mask-image: linear-gradient(black, transparent);
    mask-image: linear-gradient(black, transparent);
}