#map{
    height:100%; width:100%;}
#sidebar{
    width: 300px; height: 100%; float: right; overflow: auto;
}
#mapbox{bottom:0;
    height:800px;
background-color: red;}
.controls {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 10;
    box-sizing: border-box;
    box-shadow: 0 2px 6px rgba(0,0,0,.3);
    border: 1px solid transparent;
    width: 400px;
    padding: 0 12px;
    margin-top: 10px;
    margin-left: 20px;
    font-size: 14px;
    line-height: 40px;
    height: 40px;
    outline: none;
    text-overflow: ellipses;
    border-radius: 5px;
}

.controls:focus {
    border-color: #4d90fe;
}